/* Task 4.7 */

.TodoForm {
  width: 600px;
  padding: 20px;
  background: rgb(32, 46, 77);
  text-align: left;
}
input {
  font-size: 17px;
  margin-left: 20px;
}
button {
  font-size: 17px;
  background: black;
  color: white;
  cursor: pointer;
}
